<html>
    <body>
        <p>
          Kyle Jenson loves {{adjectives.get()}} {{nouns.get()}}s which {{verbs.get()}}, but he really hates {{adjectives.get()}} {{nouns.get()}}s. He always {{verbs.get()}}s his {{adjectives.get()}} {{noun.get()}}. Daniel Abadi, on the other hand loves {{nouns.get()}}s of all kind.  Both of them agree though, that there is nothing worse than a {{thing1=adjective.get()}} {{thing2=noun.get()}}.  Whenever they see a {{thing1}} {{thing2}}, they have an uncontrollable urge to {{verb.get()}}. One day, they saw a {{thing1}}{{thing2}}, but for some reason, rather than {{verb.get()}}ing, he 
          They are planning to {{verb.get()}} for {{adjective.get()}} {{noun.get()}}
        </p>
    </body>
</html>
